body{
   
    background-image: url("chimi parrilla.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.titulo{
    font-size: 100px;
    color: #048243;
    font-style: italic;
    position: relative;
    margin-left: 200px;
    text-decoration-line:underline;
    text-decoration-color:#CAFFFB;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
   
    

}
.header{
    display: flex;
    position:absolute;
}
.opc{
   
    position: relative;
    direction: rtl;
    font-size: 40px;
    color: royalblue;
}
.opc div{
    display: none;
    color:#32BF84;
    
}
.opc div:target{
    display: block;
    
}
.fotos{
    border: black solid 2px;
}
.link2{
    
    direction: rtl;
    justify-content: center;
    align-items: center;
}
.cortes{
    direction: rtl;
    font-size: 60px;
    color: #32BF84;
    text-decoration-line: underline;
}
.formu{
    padding-top: 100px;
    color:#32BF84;
}
.input{
    width: 200px;
    height: 100px;
}
.logofinal{
    float: right;
    color: #32BF84;
    font-size: xx-large;
}
.quienes{
    color: tomato;
    font-size: 30px;
}
.quienes2{
    font-size: 60px;
    color: wheat;
}